checksum_manifest.txt
compound_settings.txt
/content_source
/data_binding
/fonts
/gfx
/input_profile
/licenses
/music
/notifications
/sound
/soundtrack
/tools
/interface
settings_layout.txt
save_game_analysis.txt
rotate_glow_mask3.tga
paths_checksummed.settings
paths.settings
node_editor_title_background.tga
node_editor_node_input.tga
military_infantry_eastasian_body_m_properties.dds
military_infantry_eastasian_body_m_normal.dds
icon_transfer_all.tga
game_flow_graphs.anchor
credits.txt
/dlc_metadata
/dlc
/localization/braz_por
/localization/english
/localization/french
/localization/german
/localization/japanese
/localization/korean
/localization/modifiers
/localization/polish
/localization/russian
/localization/spanish
/localization/turkish
